@import 'variable';

article a {
  color: $cyan;
  text-decoration: none;

  &:hover {
    color: $dark;
  }
}

.post-content {

  a {
    color: $cyan;
    text-decoration: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;

    &:hover {
      color: $dark;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 50px 0 25px;
    color: #444;
    line-height: 120%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.comment-content,
.post-content {
  color: #444444;

  .alignleft {
    float: left;
    margin-right: 1em;
  }

  .alignright {
    float: right;
    margin-left: 1em;
  }

  .alignleft,
  .alignright {
    margin-bottom: 1em;
    max-width: 40%;
  }




  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .wp-caption {
    line-height: 170%;
    margin-bottom: 1.1em;
    max-width: 100%;
  }

  .wp-caption-text,
  .gallery-caption,
  .wp-block-image figcaption,
  figcaption {
    color: $grey;
    display: block;
    font-size: .85em;
    font-style: italic;
    padding-top: .5em;
    text-align: center;
    width: 100%;
  }



  p {
    font-family: 'Lora', 'serif';
    line-height: 170%;
    margin-bottom: 1.5em;
  }

  ul {
    list-style: disc;
    padding-left: 1.5em;
    margin-bottom: 1.5em;
    line-height: 170%;
    margin-left: 15px;
  }

  ol {
    padding-left: 15px;
    list-style: decimal;
    margin-left: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
    line-height: 170%;
  }

  kbd,
  code {
    padding: 5px;
    border-radius: 3px;
  }



  blockquote:not(.wp-block-pullquote) {
    background: $grey;
    color: #666;
    font-family: 'Lato';
    line-height: 150%;
    padding: 1.1em;
    margin-bottom: .5em;

    p {
      margin-bottom: 0;

    }
  }

  cite {
    color: #666;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 140%;
    text-transform: uppercase;
  }

  pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 140%;
    padding: 2% 2.5%;
    background: #f1f1f1;
  }

  dl dt {
    font-weight: bold;
  }

  address {
    padding: 3% 3.5%;
    background: $grey;
    margin-bottom: .5em;
  }

  hr {
    background-color: $grey;
    border: 0;
    height: 1px;
    margin-bottom: 1.6em;
  }

  dt {
    display: block;
  }

  dd {
    display: block;
    margin-inline-start: 40px;
  }

  code,
  kbd,
  pre {
    font-size: 0.85em;
    background: $grey;
    margin-bottom: .5em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 1.1em;
  }

  table tbody > tr:nth-child(odd) > td {
    background: $grey;
  }

  th,
  td {
    padding: 2%;
    margin: 0;
    overflow: visible;
    line-height: 120%;
    border-bottom: 1px solid $grey;
  }

  th {
    font-weight: bold;
    color: $dark;
  }

}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}


.main,
.post-content,
.nl-sidebar {
  -ms-word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

article {
  max-width: 96%;
  font-size: 1.1em;
}

img {
  max-width: 100%;
  height: auto;
}


dfn,
cite,
em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

.post-meta {

  font-size: .8em;
  padding: 5px 0;
  
  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

  }
}

.entry-header {
  margin-bottom: 30px;

  p {
    color: $cyan;
  }
}

.post-navigation {
  position: relative;
  margin: 45px 0;

  .nav-links .nav-previous a,
  .nav-links .nav-next a,
    {
    color: inherit;
    text-decoration: none;
    margin-bottom: 15px;
    border-left: 2px solid $dark;
    color: $dark;
    width: 100%;
    display: block;
    padding: 15px;

    &:hover {
      b {
        color: $dark;
      }
    }
  }

  b {
    color: $cyan;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
}

.nocomments {
  font-style: italic;
}

.post-tags {
  width: 100%;
  margin-top: 45px;
}

.post-tags a {
  display: inline-block;
  font-size: .8em;
  margin: 5px 10px 5px 0;
  padding: 6px 12px;
  background: $cyan;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;

  &:hover {
    color: $fafa;
    background: $dark;
  }
}

.post-password-form {
  width: 100%;

  input[type="password"] {
    width: 48%;
    padding: 10px;
    margin: 10px 0;
  }

  input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
  }
}
