@import 'variable';

header {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.topnav {
  position: relative;
  max-width: 1120px;
  margin: auto;
}

.branding img {
  float: left;
  margin: 7px 0;
}

.branding h1 a,
.branding p a {
  font-size: 1.5em;
  font-weight: 900;
  float: left;
  color: $fafa;
  padding: 13px 16px 13px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease;
}

.topnav ul {
  vertical-align: middle;
  list-style-type: none;
  margin-right: 60px;
  padding: 0;
}

.topnav li {
  float: right;
}

.topnav li a {
  font-size: 1em;
  display: block;
  color: $fafa;
  text-align: center;
  padding: 18px 15px;
  text-decoration: none;
  transition: .3s ease;
}

.sbutton svg:hover,
.mbutton svg:hover {
  fill: $cyan;
}

.topnav li a:hover,
.branding h1 a:hover,
.branding p a:hover {
  color: $cyan;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.sbutton {
  position: absolute;
  cursor: pointer;
  font-size: 1.2em;
  color: $fafa;
  right: 0;
  padding: 0 0 0 16px;
  margin: 21px 0;
  border-left: 1px solid $fafa;

}

.sbutton svg,
.mbutton svg {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.sbox {
  position: absolute;
  display: none;
  right: 0;
  padding-right: 60px;
  width: 70%;
}

.sbox input {
  color: $fafa;
  width: 100%;
  text-align: right;
  background-color: transparent;
  font-size: 1.1em;
  border: none;
  font-family: inherit;
  font-weight: 400;
  padding: 19px;
}

.sbox input:focus {
  outline: none;
}

.sbox input::placeholder {
  color: $fafa;
  opacity: .8;
}

.active {
  display: block;
}

.menu-off {
  display: none;
}

#fa-xc {
  display: none;
}

.nl-header-img {
  height: 480px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.nl-header {
  width: 100%;
  position: fixed;
  top: 100;
  left: 0;
}

.thumbnail {
  transform: scale(1.1);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.nl-header-text h2 {
  position: fixed;
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  top: 50%;
  left: 50%;
  padding: 12px 18px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navrap {
  display: none;
}
