/*=======================
Theme: Awesome Photography/Portfolio Template
This is the Style for Responsiveness
Author: JLP Media
Email: jennpereira13@gmail.com / lianplameras@gmail.com
Version: 1.00
Date Created: August 10, 2014
Updated: August 23, 2014
=======================*/
/* MAX 1080px */
@media (max-width: 1080px) {
	.img-responsive,
	.thumbnail > img,
	.thumbnail a > img,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		max-width: 120%;
		height: auto;
	}

	h1 {
		font-size: 5em;
	}

	.carousel-control.right img,
	.carousel-control.left img {
		width: 50px;
	}

	.pull-right {
		float: none !important;
		text-align: center;
	}

	#subscribe {
		text-align: center;
	}

	p.atext {
		padding-top: 20px;
	}

	.vision-border {
		width: 60%;
	}

	.carousel-caption,
	.slider-item-wrap {
		height: 650px;
	}
}

@media (max-width: 992px) {
	#subscribe .page-scroll .right {
		float: none;
	}
}

/* MAX 768px */
@media (max-width: 768px) {
	#about h2 {
		margin-right: auto;
		margin-left: auto;
	}

	#about {
		padding: 70px 0;
	}

	.about-content {
		text-align: center;
	}

	h1 {
		font-size: 4em;
	}

	p.atext {
		width: 100%;
	}

	.carousel-caption,
	.slider-item-wrap {
		height: 550px;
	}

	.navbar-default .navbar-brand img {
		height: 42px;
	}
}

/* MIN 768px */
@media (min-width: 768px) {
	#comments {
		margin-right: 35px;
	}

	.comment-avatar {
		width: 100px;
		padding-right: 30px;
	}

	.commentlist ul {
		margin-left: 100px;
	}
}

/* MAX 720px */
@media (max-width: 720px) {
	.img-responsive,
	.thumbnail > img,
	.thumbnail a > img,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		height: auto;
	}

	.vision-border {
		width: 70%;
	}

	.modal-body {
		padding: 15px 0;
	}
}

/* MAX 560px */
@media (max-width: 560px) {
	.vision-border {
		width: 90%;
	}

	header {
		overflow: hidden;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
		letter-spacing: 4px;
	}

	h4 {
		font-size: 1.5em;
		letter-spacing: 3px;
	}

	h5 {
		font-size: 1em;
		word-spacing: 15px;
	}

	h6 {
		font-size: 10px;
	}

	#about h2 {
		width: 100%;
		font-size: 2.4em;
		letter-spacing: 4px;
	}

	#site-navigation {
		position: relative;
		margin-bottom: 0;
	}

	header {
		float: left;
		overflow: hidden;
		width: 100%;
	}

	.comment-avatar img {
		width: 40px;
		height: 40px;
	}

	.comment-avatar {
		width: 40px;
		padding-right: 10px;
	}

	.commentlist ul {
		margin-left: 40px;
	}
}

/* MAX 460px */
@media (max-width: 460px) {
	.img-responsive,
	.thumbnail > img,
	.thumbnail a > img,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		height: auto;
	}

	.dark-overlay {
		height: 350px;
		padding-top: 100px;
	}

	#blog {
		height: 350px;
		background-position: 50%;
	}

	h1 {
		font-size: 2.2em;
		letter-spacing: 1px;
	}

	h6 {
		font-size: 9px;
		font-weight: 300;
	}

	#socials p,
	#bsocials p {
		font-size: 12px;
		letter-spacing: 0;
	}

	#footer {
		padding-top: 20%;
		padding-bottom: 10%;
	}

	#footer h2 {
		width: 310px;
		padding: 10px;
		font-size: 2em;
	}

	#footer p {
		padding-top: 10px;
	}

	#footer-nav {
		padding-top: 40px;
		font-size: 10px;
		letter-spacing: 0;
	}

	.vision-border {
		width: 80%;
	}

	.carousel-caption,
	.slider-item-wrap {
		height: 350px;
	}

	.grid figure p {
		margin-top: 20px;
		opacity: 1;
		line-height: 15px;
		letter-spacing: 0;
	}

	.carousel-control.right {
		right: 0;
	}

	.carousel-control.left {
		left: 0;
	}
}

/* MAX 320px */
@media (max-width: 340px) {
	h1 {
		font-size: 1.5em;
	}

	figure.effect-layla h2 {
		font-size: 1.5em;
	}

	.service-border h4 {
		font-size: 13px;
		letter-spacing: 1px;
	}

	h6 {
		font-size: 10px;
		font-weight: 400;
	}

	#socials span.follow, {
		width: 200px;
		font-size: 20px;
		letter-spacing: 1px;
	}

	ol.social li {
		padding: 0 6px;
	}

	#socials p {
		font-size: 12px;
		letter-spacing: 0;
	}

	#socials span.follow {
		width: 220px;
		font-size: 20px;
		letter-spacing: 5px;
	}

	#footer h2 {
		width: 250px;
		font-size: 1.5em;
	}

	#footer p {
		font-size: 12px;
		letter-spacing: 0;
	}
}
